.App {
  background-color: var(--stp-background);
  color: var(--stp-foreground);
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: .5em;
}

.flexBox {
  display: flex;
  gap: 10px;
  margin: 1em 0;
}

.boxOne, .boxTwo, .boxThree, .boxFour, .boxFive, .boxSix, .boxSeven, .boxEight, .boxNine, .boxTen, .boxEleven, .boxTwelve, .box13, .box14, .box15, .box16, .box17, .box18, .box19, .box20 {
  width: 200px;
  height: 200px;
}

.boxOne {
  background-color: var(--stp-test_color-alpha_primary);
}
.boxTwo {
  background-color: var(--stp-test_color-alpha_secondary);
}
.boxThree {
  background-color: var(--stp-test_color-alpha_tertiary);
}
.boxFour {
  background-color: var(--stp-test_color-alpha_quaternary);
}

.boxFive {
  background-color: var(--stp-test_color_two);
}
.boxSix {
  background-color: var(--stp-test_color_two-dark30);
}
.boxSeven {
  background-color: var(--stp-test_color_two-dark50);
}
.boxEight {
  background-color: var(--stp-test_color_two-dark70);
}

.boxNine {
  background-color: var(--stp-test_color_three);
}
.boxTen {
  background-color: var(--stp-test_color_three-light30);
}
.boxEleven {
  background-color: var(--stp-test_color_three-light50);
}
.boxTwelve {
  background-color: var(--stp-test_color_three-light70);
}

.box13 {
  background-color: var(--stp-test_color_three);
}
.box14 {
  background-color: var(--stp-test_color_three-dark30);
}
.box15 {
  background-color: var(--stp-test_color_three-dark50);
}
.box16 {
  background-color: var(--stp-test_color_three-dark70);
}

.box17 {
  background-color: var(--stp-test_color);
}
.box18 {
  background-color: var(--stp-test_color-light30);
}
.box19 {
  background-color: var(--stp-test_color-light50);
}
.box20 {
  background-color: var(--stp-test_color-light70);
}
